{% extends '_base.html' %}

{% block content %}
<div class="container-fluid">

    {{ idea.category.name }} > {{ idea.subcategory.name }}

    <h1>{{ idea.title }}</h1>
    {{ idea.description }}

    <hr />
    Address: {{ idea.address }}

    <hr />
    Upvotes: {{ idea.upvotes }}

    <hr />
    Author: {{ idea.author }}

    <hr />
    User: {{ idea.user.first_name }} {{ idea.user.last_name }}

    <hr />
    Created at: {{ idea.created_at }}

    <hr />
    <a target="_blank" rel="noopener noreferrer" href="https://maps.google.com/?q={{ idea.address|urlencode }}">Show on map</a>

    <hr />
    {% for image in idea.images.all %}
        <img src="{{ image.thumbnail.url }}" />
    {% endfor %}

    <hr /><hr />

    <h2>Comments ({{ idea.comments.count }})</h2>

    {% for comment in idea.comments.all %}
        <div>{{ comment.user.first_name }} {{ comment.user.last_name }} ({{ comment.created_at }}): {{ comment.body }}</div>
    {% endfor %}

    <form action="." method="post">
        {% csrf_token %}
        {{ form.body }}
        <input type="submit" value="Submit">
    </form>

</div>
{% endblock %}
