{% extends '_base.html' %}

{% block content %}
<div class="container-fluid">

  TOTAL: {{ ideas.paginator.count }}

  {% for idea in ideas %}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      {% if idea.images.first %}
      <div class="col-md-4">
        <img src="{{ idea.images.first.thumbnail.url }}" class="card-img" alt="...">
      </div>
      {% endif %}
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'ideas-details' pk=idea.pk %}">{{ idea.title }}</a>
          </h5>
          <p class="card-text">{{ idea.description }}</p>
          <p class="card-text"><small class="text-muted">{{ idea.created_at }}</small></p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  {% if ideas.has_other_pages %}
  <ul class="pagination">
    {% if ideas.has_previous %}
      <li><a href="?page={{ ideas.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in ideas.paginator.page_range %}
      {% if ideas.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if ideas.has_next %}
      <li><a href="?page={{ ideas.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

</div>
{% endblock %}
