{% extends '_base.html' %}

{% block content %}
<div class="container-fluid">

  {% for idea in ideas %}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'ideas-details' pk=idea.pk %}">{{ idea.title }}</a>
          </h5>
          <p class="card-text">{{ idea.description }}</p>
          <p class="card-text"><small class="text-muted">{{ idea.created_at }}</small></p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}
