{% extends '_base.html' %}

{% block content %}
<div class="container-fluid">

  {% if user.is_authenticated %}

  <form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.category.label }} {{ form.category }}<br />
    {{ form.subcategory.label }} {{ form.subcategory }}<br />
    {{ form.title.label }} {{ form.title }}<br />
    {{ form.description.label }} {{ form.description }}<br />
    {{ form.address.label }} {{ form.address }}<br />
    {{ form.images.label }} {{ form.images }}<br />
    <input type="submit" value="Submit">
  </form>

  {% else %}

  <p>Please, sign in with Google or Facebook to submit an idea.</p>

  {% endif %}

</div>
{% endblock %}

{% block extra_js %}
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&language=lv&key=AIzaSyBCktoE7GzzO3Ej6hAoIO4nJdVvRPI7DXI"></script>
<script>
  const options = {
    types: ["address"],
    fields: ["name", "formatted_address"],
    componentRestrictions: {country: "lv"}
  };
  const autocomplete = new window.google.maps.places.Autocomplete(document.getElementById("id_address"), options);

  autocomplete.addListener("place_changed", () => {
    const place = autocomplete.getPlace();
    let address = place.name;

    if (place.formatted_address) {
      address = place.formatted_address;
    }

    const nextElementToFocus = document.getElementById("id_images");
    nextElementToFocus.focus();
  });
</script>
{% endblock %}
