{% extends '_base.html' %}

{% load i18n %}

{% block content %}
<div class="container-fluid">
    <h1>
        {% blocktranslate %}What is Uzlabo?{% endblocktranslate %}
    </h1>
    <p>
        {% blocktranslate %}In our daily lives we often notice various problems in the public space. Instead of only observing, Uzlabo.lv invites the people of Riga to take the next step and get involved in creating solutions! If you have an idea how to solve an existing problem in your neighbourhood, do not keep to yourself – share it with the world!{% endblocktranslate %}
    </p>
    <p>
        {% blocktranslate %}With the help of uzlabo.lv you can gather supporters for your suggested solution, or you can simply submit it to the idea bank, so that it could be freely used by any new entrepreneur, developer, active citizen or municipality representative.{% endblocktranslate %}
    </p>

    <h2>
        {% blocktranslate %}Share your idea!{% endblocktranslate %}
    </h2>
    <p>
        {% blocktranslate %}Describe your solution, the desired location, add a photo or any other visual material and allow others to check it out!{% endblocktranslate %}
    </p>

    <h2>
        {% blocktranslate %}Find supporters!{% endblocktranslate %}
    </h2>
    <p>
        {% blocktranslate %}Use the platform the find like-minded people with whom you can develop the idea further to make our city safer, greener and overall more people-friendly!{% endblocktranslate %}
    </p>

    <h2>
        {% blocktranslate %}Active neighbourhoods{% endblocktranslate %}
    </h2>
    <p>
        {% blocktranslate %}You can submit your idea about any location in Riga to find potential supporters. Additionally, there are several neighbourhood community organizations that collaborate with uzlabo.lv. They are ready to help and advise you how to move forward with your idea.{% endblocktranslate %}
    </p>
    <p>
        {% blocktranslate %}If you are a representative of a neighbourhood community organization and are interested to get involved, get in touch with us!{% endblocktranslate %}
    </p>

    <h2>
        {% blocktranslate %}What happen’s next?{% endblocktranslate %}
    </h2>
    <p>
        {% blocktranslate %}When you submit your idea to uzlabo.lv, it will become available for public discussion. If you see that other people also think that your solution could be helpful, we invite you to start to move the idea further. You can try the following:{% endblocktranslate %}
    </p>

    <h3>{% blocktranslate %}Start communication with the responsible department now!{% endblocktranslate %}</h3>
    <p>{% blocktranslate %}We invite you to send your idea to the city department in charge of the particular field. To better understand how to do this, you can seek advice from your local neighbourhood community organization!{% endblocktranslate %}</p>

    <h3>{% blocktranslate %}Submit your idea to the local project contests!{% endblocktranslate %}</h3>
    <p>{% blocktranslate %}Follow the information about municipality project contests – participatory budgeting, neighbourhood initiatives for citizen engagement and others where you can obtain some funding to realize your idea!{% endblocktranslate %}</p>

    <h3>{% blocktranslate %}We are working to ensure active engagement of Riga city council!{% endblocktranslate %}</h3>
    <p>{% blocktranslate %}In the near future we hope to ensure engagement of Riga City Council department representatives that could use uzlabo.lv to learn about the needs and suggestions of the people of Riga.{% endblocktranslate %}</p>
</div>
{% endblock %}
